<div class="label-input">
    <label for="<%= name %>"><%= text %></label>
    <input name="<%= name %>" type="<%= type %>" id="<%= name %>" <%= typeof required !== 'undefined' ? required="required" : null %> />
</div>
