<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard', cssFile: 'index.css', jsFile: 'index.js' }) %>
    </head>
    <body>
        <%- include(`${root}/views/partials/layoutOpen`) %>
            <%- include(
                `${root}/views/partials/navbar`,
                { addButton: true, username: typeof username !== 'undefined' ? username : 'Username' }
            ) %>
            <div class="lists-container">
                <% if (typeof lists !== 'undefined') { %>
                    <% for (const {listId, listName, entries} of lists) { %>
                        <%- include(
                            `${root}/views/partials/shoppingList`,
                            { listId: listId, listName: listName, entries: entries})
                            %>
                    <% } %>
                <% } %>
            </div>
        <%- include(`${root}/views/partials/layoutClose`) %>
    </body>
</html>
